/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

html {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-size: 1.125em; /* 18px / 16px */
  line-height: 1.222em; /* 22px / 18px */
  padding: 1.222em 1.8333em; /* 22px / 18px and 150% of that */
}

body {
  background-color: #333;
  color: #ddd;
}

.nav a {
  display: block;
  color: #eee;
  background: #222;
  text-decoration: none;
  line-height: 0;
  padding: 1em;
  margin-bottom: 0.222em;
}

.nav a:hover, .nav a:active, .nav a:focus {
  background: #444;
}

/* Must change min-width to fit all elements */
@media only screen and (min-width: 25em) {
  .nav {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0.666em;
    margin-left: -0.181em;
  }

  .nav li {
    flex: 1 0 auto;
  }

  .nav a {
    line-height: inherit;
    padding: 0.6111em;
    margin-bottom: 0;
    margin-left: 0.181em;
  }
}

@supports(display: grid) {
  .nav {
    display: grid;
    /* Must change the first argument of minmax to fit largest item */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 0.222em 0.222em;
    margin-left: 0;
    margin-bottom: 1.222em;
  }

  .nav a {
    /* override both flex and non-flex settings */
    line-height: inherit;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0.5em;
  }
}

header {
  text-align: center;
  padding-bottom: 0.334em; /* 18px / 18px */
}

h1 {
  font-weight: bold;
  font-size: 2.22222222em; /* 40px / 18px */
  line-height: 1em; /* 27px / 27px */
}

.tagline {
  font-size: 1.5em; /* 27px / 18px */
  line-height: 1em; /* 27px / 27px */
  padding-bottom: 0.666em;
}

h2 {
  font-size: 1.5em; /* 27px / 18px */
  line-height: 1em; /* 27px / 27px */
  padding-bottom: 0.666em;
}

h3 {
  font-weight: bold;
}

p {
  padding-bottom: 1.222em; /* 22px / 18px */
}

p:last-child {
  padding-bottom: 0em;
}

img {
  display: block;
  max-width: 100%;
}

#about-me {
  display: flex;
  flex-flow: row wrap;
}

#about-me section {
  flex: 1 0 26%;
}


#about-me figure {
  /* used instead of column-gap in #about-me due to lack of support in most browsers */
  margin-right: 20px;
}


.photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.222em /* 22px / 18px */
}

.project-img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#projects div {
  display: grid;
  /* initial minimum width of project cards for 200px screens */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem 1rem;
}

@media only screen and (min-width: 280px) {
  #projects div {
    /* intermediate minimum width of project cards for 280px screens to prevent new columns before final minimum size is reached */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media only screen and (min-width: 370px) {
  #projects div {
    /* final minimum width of project cards for 370px+ screens */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

#projects a {
  display: block;
  color: #eee;
  background: #222;
  text-decoration: none;
  padding: 0.6111em;
}

#projects a:hover, #projects a:active, #projects a:focus {
  background: #444;
}

#projects a h4 {
  text-align: center;
  padding-bottom: 0.6111em;
}

#projects a p {
  padding-bottom: 0;
}

#resume article {
  margin-bottom: 1.222em;
}

#resume article:last-child {
  margin-bottom: 0em;
}

#resume article p {
  text-indent: 2em;
  max-width: 30em;
}

#resume h4 {
  font-style: italic;
}

#contact-page footer img {
  width: 3em;
  margin-left: auto;
  margin-right: auto;
}

#contact-page footer a {
  display: inline-block;
  color: #eee;
  text-decoration: none;
  margin-top: 0.666em;
  margin-right: 0.666em;
}

#contact-page footer a:last {
  margin-right: 0em;
}

#contact-page footer a:hover, #contact-page footer a:active, #contact-page footer a:focus {
  opacity: 0.6;
}

/** A quick baseline grid overlay using css+svg. Inspired by [Basehold.it](https://basehold.it/). @author leshido */
.g body { position: relative; }

.g body::after { background: url('data:image/svg+xml;utf8,<svg height="22" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(136, 136, 136, 1)" /></svg>') repeat top left; content: ""; display: block; pointer-events: none; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; position: absolute; }

.g body:active::after { display: none; }
