/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

:root {
  --main-bg-color: #13293d;
  --secondary-bg-color: #17324c;
  --link-box-bg-color: #006494;
  --text-box-bg-color: #1f4366;
  --hover-color: #2683ab;
  --main-fg-color: #e8f1f2;
  --url-color: #39c4ff;
}

html {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-size: 1.125em; /* 18px / 16px */
  line-height: 1.222222222em; /* 22px / 18px */
  min-height: 100%; /* Fixes repeating background issue on short pages on large screens */
  padding-top: 1.222222222em;
}

body {
  display: flex;
  background-color: var(--main-bg-color);
  background-image: url('/assets/background.png');
  color: var(--main-fg-color);
  min-height: 100vh;
  flex-direction: column;
}

body > * {
  padding-left: 1.8333333333em;
  padding-right: 1.8333333333em;
}

main {
  flex: 1;
}

.nav a {
  display: block;
  color: var(--main-fg-color);
  background: var(--link-box-bg-color);
  text-decoration: none;
  line-height: 0;
  padding: 1em;
  margin-bottom: 0.222222222em;
}

.nav a:hover, .nav a:active, .nav a:focus {
  background: var(--hover-color);
}

#about-page #nav-about, #projects-page #nav-projects, #resume-page #nav-resume {
  background: var(--hover-color);
}

/* Must change min-width to fit all elements */
@media only screen and (min-width: 25em) {
  .nav {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0.666666666em;
    margin-left: -0.181818181em;
  }

  .nav li {
    flex: 1 0 auto;
  }

  .nav a {
    line-height: inherit;
    padding: 0.6111111111em;
    margin-bottom: 0;
    margin-left: 0.181818181em;
  }
}

@supports(display: grid) {
  .nav {
    display: grid;
    /* Must change the first argument of minmax to fit largest item */
    grid-template-columns: repeat(auto-fit, minmax(5.555555555em, 1fr));
    grid-gap: 0.222222222em 0.222222222em;
    margin-left: 0;
    margin-bottom: 1.222222222em;
  }

  .nav a {
    /* override both flex and non-flex settings */
    line-height: inherit;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0.5em;
  }
}

header {
  text-align: center;
  padding-bottom: 0.333333333em; /* 6px / 18px */
}

h1 {
  font-weight: bold;
  font-size: 2.222222222em; /* 40px / 18px */
  line-height: 1em; /* 27px / 27px */
}

.tagline {
  font-size: 1.5em; /* 27px / 18px */
  line-height: 1em; /* 27px / 27px */
  padding-bottom: 0.666666666em;
}

h2 {
  font-size: 1.5em; /* 27px / 18px */
  line-height: 1em; /* 27px / 27px */
  padding-bottom: 0.666666666em;
}

h3 {
  font-weight: bold;
}

p {
  margin-bottom: 1.222222222em; /* 22px / 18px */
}

p:last-child {
  margin-bottom: 0em;
}

img {
  display: block;
  max-width: 100%;
}

.photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.222222222em; /* 22px / 18px */
}

#about-me h2 {
  text-align: center;
}

#about-me figure {
  width: 100%;
  max-width: 22.222222222em;
}

#about-me p {
  background-color: var(--text-box-bg-color);
  padding: 0.666666666em;
  max-width: 30em;
}

/* fallback for wide screens without grid support */
@media only screen and (min-width: 39em) {
  #about-me p {
    margin-left: auto;
    margin-right: auto;
  }
}

@supports(display: grid) {
  @media only screen and (min-width: 39em) {
    #about-me div {
      display: grid;
      grid-template-columns: minmax(1fr, auto) minmax(1fr, auto);
      grid-gap: 1rem 1rem;
      justify-content: center;
      align-content: start;
    }

    #about-me figure {
      max-width: 16em;
      align-self: start;
      justify-self: center;
    }

    #about-me p {
      grid-column: 2;
      margin-bottom: 0;
    }

    #about-me .photo {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.project-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#projects h2, #projects h3 {
  text-align: center;
}

#projects a {
  display: block;
  color: var(--main-fg-color);
  background: var(--link-box-bg-color);
  text-decoration: none;
  padding: 0.6111111111em;
  max-width: min-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

#projects a:hover, #projects a:active, #projects a:focus {
  background: var(--hover-color);
}

#projects a h4 {
  text-align: center;
  padding-bottom: 0.6111111111em;
}

#projects a p {
  margin-bottom: 0;
}

#projects div img {
  max-height: 60vh;
  max-width: 60vw;
}

@supports(display: grid) {
  #projects a {
    max-width: initial;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  #projects div img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #projects div {
    display: grid;
    /* initial minimum width of project cards for 200px screens */
    grid-template-columns: repeat(auto-fit, minmax(5.5em, 1fr));
    grid-gap: 1rem 1rem;
  }

  @media only screen and (min-width: 16.5em) {
    #projects div {
      /* intermediate minimum width of project cards for 280px screens to prevent new columns before final minimum size is reached */
      grid-template-columns: repeat(auto-fit, minmax(11.111111111em, 1fr));
    }
  }

  @media only screen and (min-width: 23em) {
    #projects div {
      /* final minimum width of project cards for 370px+ screens */
      grid-template-columns: repeat(auto-fit, minmax(16.666666666em, 1fr));
    }
  }
}

/* Resume Centering CSS Start */

#resume h2, #resume h3 {
  text-align: center;
}

#resume article {
  margin-left: auto;
  margin-right: auto;
}

/* Resume Centering CSS End */

#resume h4 {
  font-style: italic;
}

#resume article {
  margin-bottom: 1.222222222em;
  max-width: 33em;
}

#resume article:last-child {
  margin-bottom: 0em;
}

#resume ul {
  display: inline-block;
  background-color: var(--text-box-bg-color);
  padding: 0.666666666em;
  margin-top: 0.666666666em;
}

#resume ul ul {
  padding: 0;
  margin-top: 0;
}

#resume #experience ul, #resume #education ul {
  list-style-type: disc;
}

#resume #experience ul ul, #resume #education ul ul {
  list-style-type: circle;
}

#resume #experience li, #resume #education li {
  text-indent: -0.5em;
  padding-left: 0.5em;
  margin-left: 1em;
}

@supports(display: grid) {
  #resume #skills ul {
    display: grid;
    /* change the 5em if the largest item in the skills area changes */
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    background-color: inherit;
    padding: 0;
    grid-gap: 1rem 1rem;
    max-width: 34.222222222em; /* 30em + left and right padding of `article p` and/or `ul` */
  }
  
  #resume #skills li {
    background-color: var(--text-box-bg-color);
    padding: 0.666666666em;
  }
}

#pnf-404 {
  text-align: center;
}

#pnf-404 h2 {
  margin-top: 1.5em;
}

@media only screen and (min-width: 17em) {
  #pnf-404 {
    font-size: 150%;
    line-height: 150%;
  }
}

@media only screen and (min-width: 30em) {
  #pnf-404 {
    font-size: 200%;
    line-height: 200%;
  }
}

footer {
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  border-top: 2px solid var(--secondary-bg-color);
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
}

footer img {
  width: 3em;
  margin-left: auto;
  margin-right: auto;
}

footer a {
  display: inline-block;
  color: var(--main-fg-color);
  text-decoration: none;
  margin-top: 0.666666666em;
  margin-right: 0.666666666em;
}

footer a:last {
  margin-right: 0em;
}

footer a:hover, footer a:active, footer a:focus {
  opacity: 0.6;
}

footer p {
  display: inline;
}

footer p a {
  color: var(--url-color);
}

/** A quick baseline grid overlay using css+svg. Inspired by [Basehold.it](https://basehold.it/). @author leshido */
.g body { position: relative; }

.g body::after { background: url('data:image/svg+xml;utf8,<svg height="22" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(136, 136, 136, 1)" /></svg>') repeat top left; content: ""; display: block; pointer-events: none; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; position: absolute; }

.g body:active::after { display: none; }
